<!doctype html>
<html lang="en" ng-app="classroomConnect">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Classroom Connect</title>
    <link href="/assets/css/app.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="img/pencil.ico" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="/assets/js/foundation.js"></script>
    <script src="/assets/js/templates.js"></script>
    <script src="/assets/js/routes.js"></script>
    <script src="/assets/js/app.js"></script>
  </head>
  <body>
    <div class="grid-frame vertical">
      <div class="title-bar topBar">
        <div class="center title"><a ui-sref="home" class="topHeader">Mrs. Mellum's Classroom</a></div>
        <span class="left"><a class="hide-for-medium" zf-toggle="sub-nav">Menu</a></span>
        <span class="right"><a zf-toggle="login"><img zf-iconic="" icon="cog" class="menuIcon" size="medium"></a></span>
      </div>
      <div class="grid-block leftNav">
        <div zf-panel id="sub-nav" position="left" class="medium-3 large-2 medium-grid-block vertical mainMenu" zf-swipe-close="left">
          <div class="sideBar grid-content shrink">
            <section class="side-nav">
              <ul class="side-list" ng-controller="NavCtrl">
                <li ng-repeat="link in links track by $index" ng-class="{activeLink: isActive(link)}" class="sideBarNavItem">
                  <a ng-click="select(link)" ui-sref="{{link.href}}"><strong>{{link.content}}</strong></a>
                </li>
              </ul>
            </section>
          </div>
          <div class="grid-content reminder">
            <h4>Reminders:</h4>
            <blockquote class="reminder"><q>Our field trip to Ashland has been (tentatively) scheduled for March 30th through April 1st!</q></blockquote>
          </div>
        </div>
        <div class="small-12 medium-9 large-10 grid-block">
          <div ui-view class="ui-animation vertical grid-block">
          </div>
        </div>
      </div>
    </div>
    <div zf-panel="" id="subjects" position="right" class="subjects">
      <div class="grid-content">

      </div>
    </div>
    <div zf-panel="" id="login" position="right" class="login" zf-swipe-close="right">
      <div class="grid-content">
        <section class="block-list">
          <header>Login to Classroom Connect!</header>
          <ul>
            <li><input type="text" value="cady@africa.com"></li>
            <li><input type="password" value="password1234"></li>
          </ul>

        </section>
        <a class="button expand success" zf-close>Login</a>
        <!--
        <a class="button expand warning hollow" zf-close>Signup</a>
        <a class="button expand alert hollow" zf-close>Logout</a>
        -->
        <section class="block-list">
          <header>Subjects</header>
          <ul>
          <li>
          <input type="checkbox" id="history" value="history" checked="">
          <label for="history">History</label>
          </li>
          <li>
          <input type="checkbox" id="science" value="science">
          <label for="science">Science</label>
          </li>
          <li>
          <input type="checkbox" id="english" value="english">
          <label for="english">English</label>
          </li>
          <li>
          <input type="checkbox" id="math" value="math">
          <label for="math">Math</label>
          </li>
          </ul>
        </section>
        <a class="button expand " zf-close>Close</a>
      </div>
    </div>
    <div id="stickyFooter">
      <h3 class="stickyFooterHeader"><a style="display: inline;" href="mailto:kmellum@streamcharter.net" class="weeklyPoll"><i class="fa fa-envelope"></i>
&nbsp; kmellum@streamcharter.net </a><a href="https://PollEv.com/kmellum544" target="_blank" class="weeklyPoll">   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <i class="fa fa-bar-chart"></i>|Weekly Poll</a>
      </h3>
    </div>
  </body>
</html>
