@import "settings";
@import "foundation";
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Pathway+Gothic+One|Over+the+Rainbow|Amatic+SC|Old+Standard+TT);
$kmellum-blue: #004876;
$kmellum-dark-blue: #00548a;
$zurb-orange: #F08A24;

.side-nav li a{
  font-family: 'Amatic SC', cursive;
  color: #FFFFFF;
  font-size: 30px;
  display: block;
  width: 100%;
  height: 100%;
}
.side-nav li a:active{
  background: $kmellum-blue;
  color: #FFFFFF; 
  opacity: .98;
}
.homeContent{
  margin-top: 1rem;
  background: $kmellum-blue;
  opacity: .75;
  padding: 1rem;
  color: white;
  p, h4, h3, h2{
    color: white;
  }
}
.aboutPopup{
  aside{
  background: #3F7598;
  color: white;
  }
}
.sideBarNavItem{
  background: $kmellum-blue;
  padding-left: 1rem;
  opacity: .75;
  transition-property: opacity;
  transition-duration: .5s;
  transition-timing: ease-out;
  border-bottom: 1px solid white;
}
.sideBarNavItem:hover{
  opacity: .98;
}
.sideBar.grid-content{
  padding: 0;
}
.activeLink.sideBarNavItem{
  opacity: .98;
}
.side-nav ul{
  margin-left: 0;
  width: 100%;
  padding-left: 0;
  list-style-type: none;
}
.topBar{
  font-size: 30px;
  background: $kmellum-blue;
  opacity: .75;
}
.topHeader{
  color:#FFFFFF;
  letter-spacing: 15px;
}
.topHeader:hover{
  color: $zurb-orange;
}
#login{
}
.weeklyNote{
  padding: .2rem;
}
body{
	background-image: url("../../img/classroomBackground.jpg");
}

.assignmentsButton:hover{
  opacity: .98;
}

.homeworkCard{
	height: 300px;
  width: 100%;
	overflow: auto;
	opacity: .75;
	margin: .5rem .5rem;
	transition-property: opacity;
	transition-duration: .5s;
	transition-timing: ease-out;
}
.assignmentContent{
  padding: .75rem;
}
.assignmentContent p{
  font-family: 'Shadows Into Light', cursive;
  font-size: 14px;
  overflow: auto;
  height: 140px;
}
.assignmentContent h3, .assignmentContent h4{
  margin-top: 0;
  margin-bottom: rem-calc(3);
}
.homeworkCard:hover{
	opacity: .98;
}
.homeworkLabels.grid-content{
  padding-left: .2rem;
}
.homeworkLabels{
	padding: 0;
}
.homeworkLabel{
  padding: .5rem 1rem;
  font-size: 120%;
	cursor: pointer;
	margin-right: .5rem;
	transition-property: opacity;
	transition-duration: .5s;
	transition-timing: ease-out;
}
.homeworkLabel:hover{
	opacity: .7;
}
.downloadIconH{
  color: #F08A24;
  float: left;
  margin-right: 1.5rem;
  top: 1.5rem;
  zoom: 130%;
}
.downloadIconH:hover{
  color: $kmellum-blue;
  opacity: .98;
}
.downloadIconA{
  color: #F08A24;
	position: absolute; 
	top: 1.5rem; 
	right: 1.5rem; 
  zoom: 200%;
}
.downloadIconA:hover{
  color: #F08A24;
  opacity: .7;
}
.downnloadIconA:visited{
  color: #F08A24;
}
.homeworkDescriptionButton{
  background: #CC7A29;
}
.homeworkDescriptionButton:hover{
  background: #995C1F;
}

.grid-content{
  padding: 0 1rem;
}
.actionSheetContainer{
  background: $kmellum-blue
}
.menuIcon{
  color: $kmellum-blue;
}
.menuIcon:hover{
  color: #CC7A29;
}
.assignmentsInfoIcon{
  float: right;
  color: $kmellum-blue;
  opacity: .75;
  margin-top: .5rem;
  margin-right: .5rem;
  transition-property: color;
  transition-duration: .5s;
  transition-timing: ease-out;
}
.assignmentsInfoIcon:hover{
  color: #CC7A29;
}
.assignmentSearchIcon{
  float: right;
  margin-top: .5rem; 
  color: $kmellum-blue;
  opacity: .75;
  cursor: pointer;
  transition-property: color;
  transition-duration: .5s;
  transition-timing: ease-out;
}
.assignmentSearchIcon:hover{
  color: #CC7A29;
}
.titleAccordion{
  display: none;
}
.handoutsAccordion{
  background: #FFF;
  opacity: .75;
}
.resourcesAccordion{
  background: #FFF;
  opacity: .75;
}
.reminderBox h4{
  font-size: 30px;
}
.reminder{
  width: 200px;
  font-size: 20px;
  font-family: 'Shadows Into Light', cursive;
}
.canvasExitButton{
  font-size: 40px;
}
.assignmentInfoCloseButton{
  top: -.75rem;
  right: .25rem;
  color: #FFFFFF;
  transition-property: color;
  transition-duration: .5s;
  transition-timing: ease-out;
}
.assignmentInfoCloseButton:hover{
  color: $zurb-orange;
}
.assignmentInfoCloseButton:active{
  color: #333;
}

#assignmentInfoPopup{
  background: #3F7598;
  padding: 1rem;
  margin-top: 4rem;
  color: #FFFFFF;
  width: 220px;
  height: 600px;
}
.notesHeader{
  border: solid;
  opacity: .75;
}
.notesHeader:hover{
  background: $kmellum-blue;
  opacity: .98;
}
.tabs .tab-item.is-active {
      background: $kmellum-blue;
      color: #FFFFFF;
      opacity: .98;
}
.accordion{
  border: solid;
  border-color: #CCCCCC; 
  border-width: 1px;
  width: 700px;
}
.accordion-title{
  text-align: center;
  background: $kmellum-blue;
  opacity: .75;
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 150%;
}
.accordion-title:hover{
  background: $kmellum-blue;
  opacity: .98;
}
.is-active > .accordion-title{
    background: $kmellum-blue;
    color: #FFFFFF; 
    opacity: .98;
    }
.accordion-content{
  background: #FFFFFF;
  opacity: .9;
  padding: 1rem;
  display: none; 
  }
.accordion-content p{
  font-size: 18px;
}
  .is-active > .accordion-content 
  {
    display: block; 
    }
.notesInfoIcon{
  top: 1.5rem;
  right: 6.5rem;
  position: absolute;
  color: #004876;
  opacity: .75;
  transition-property: color;
  transition-duration: .5s;
  transition-timing: ease-out;
}
.notesInfoIcon:hover{
  color: #CC7A29;
}
.notesInfoPopup{
  font-size: 50px;
}
.downloadIconN{
  color: #F08A24;
  float: left;
  padding-right: 1rem;
  zoom: 150%;
  }
.downloadIconN:hover{
  color: $kmellum-blue;
  opacity: .98;
}
.activeLink{
  background: #00548a;
}
.quizQuestion{
  display: inline;
  font-size: 40px;
}
.question{
  display:block;
}
.off-canvas.bottom{
  background: $kmellum-blue;
  opacity: none;
}
.offCanvasTitle h3{
  color: #FFFFFF;
  font-size: 50px;
  text-align: center;
}
.legend{
  color: $zurb-orange;
  zoom: .75;
}
.carrotDescription{
  text-align: left;
}
.carrotDescription p{
  display: inline;
  font-size: 20px;
  padding-left: 5px;
}
.downloadDescription{
  text-align: left;
  margin-right: 3px;
}
.downloadDescription p{
  display: inline;
  font-size: 20px;
  padding-left: 5px;
}
.searchDescription{
  text-align: left;
  margin-right: 3px;
}
.searchDescription p{
  display: inline;
  font-size: 20px;
  padding-left: 5px;
}
.handoutsDescription{
  text-align: left;
  margin-right: 3px;
}
.handoutsDescription p{
  display: inline;
  font-size: 20px;
  padding-left: 5px;
}
.playDescription{
  text-align: left;
  margin-right: 3px;
}
.playDescription p{
  display: inline;
  font-size: 20px;
  padding-left: 5px;
}
.infoDescription{
  text-align:left;
  margin-right: 3px;
}
.infoDescription p{
  display:inline;
  font-size: 20px;
  padding-left: 5px;
}
.pencilDescription{
  text-align:left;
  margin-right: 3px;
}
.pencilDescription p{
  display:inline;
  font-size: 20px;
  padding-left: 5px;
}
.testButton{
  color: $kmellum-blue;
}
.testButton:hover{
  color: $zurb-orange;
}
.modal{
    max-width: 800px; 
    overflow: auto;
}

