@import "settings";
@import "foundation";
@import url(http://fonts.googleapis.com/css?family=Dosis|Life+Savers|Smythe|Waiting+for+the+Sunrise|Pontano+Sans);

.mainMenu{
	background: #fff;
	border-right: 1px solid $gray-light;
	padding-top: 1rem;
}
.side-nav li a{
  color: $primary-color;
  font-size: 25px;
}
.topHeader{
  font-size: 40px;
}
.topBar{
  border: none;
  background: none;
}

#login{
  top: 50px;
}
.weeklyNote{
  padding: .2rem;
}
.grid-content{
  padding: 0 1rem;
}
body{
	background-image: url("../../img/classroomBackground.jpg");
}
.homeworkCard{
	height: 300px;
	overflow: auto;
	opacity: .85;
	margin: .5rem .5rem;
	transition-property: opacity;
	transition-duration: .5s;
	transition-timing: ease-out;
}
.assignmentContent p{
  font-family: 'Dosis', sans-serif;
}

.homeworkCard:hover{
	opacity: .98;
}
.homeworkLabels{
	padding: 0;
}
.homeworkLabel{
	cursor: pointer;
	margin-right: .5rem;
	transition-property: opacity;
	transition-duration: .5s;
	transition-timing: ease-out;
}
.homeworkLabel:hover{
	opacity: .7;
}
.homeworkDownloadButton{
  color: #CC7A29;
	position: absolute; 
	top: 1.5rem; 
	right: 1.5rem; 
	font-size: 150%;
}
.homeworkDownloadButton:hover{
  color: #995C1F;
}
.homeworkDescriptionButton{
  background: #CC7A29;
}
.homeworkDescriptionButton:hover{
  background: #995C1F;
}
.noteContent{
	background: $gray;
}
.notesDownload{
  float: right;
}
.grid-content h3{
  text-align: center;
  color: #E58F78
}
