@import "settings";
@import "foundation";
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Pathway+Gothic+One|Over+the+Rainbow|Amatic+SC|Old+Standard+TT);

.side-nav li a{
  font-family: 'Amatic SC', cursive;
  background: #004876;
  opacity: .75;
  color: #FFFFFF;
  font-size: 30px;
}
.side-nav li a:hover{
  background: #004876;
  opacity: .98;
  color: #FFFFFF;
  font-size: 30px;
}
.side-nav li a:active{
  opacity: .98;
}
.topBar{
  font-size: 30px;
  background: #004876;
  opacity: .75;
}
.topHeader{
  color:#FFFFFF;
}
#login{
}
.weeklyNote{
  padding: .2rem;
}
body{
	background-image: url("../../img/classroomBackground.jpg");
}
.assignmentsButton{
  background: #CC7A29;
  opacity: .75;
  font-family: 'Shadows Into Light', cursive;
}
.assignmentsButton:hover{
  opacity: .98;
}

.homeworkCard{
	height: 300px;
  width: 100%;
	overflow: auto;
	opacity: .75;
	margin: .5rem .5rem;
	transition-property: opacity;
	transition-duration: .5s;
	transition-timing: ease-out;
}
.assignmentContent p{
font-family: 'Shadows Into Light', cursive;
font-size: 14px;
}

.homeworkCard:hover{
	opacity: .98;
}
.homeworkLabels{
	padding: 0;
}
.homeworkLabel{
  padding: .5rem 1rem;
  font-size: 120%;
	cursor: pointer;
	margin-right: .5rem;
	transition-property: opacity;
	transition-duration: .5s;
	transition-timing: ease-out;
}
.homeworkLabel:hover{
	opacity: .7;
}
.homeworkDownloadButton{
  color: #CC7A29;
	position: absolute; 
	top: 1.5rem; 
	right: 1.5rem; 
	font-size: 150%;
}
.homeworkDownloadButton:hover{
  color: #995C1F;
}
.homeworkDescriptionButton{
  background: #CC7A29;
}
.homeworkDescriptionButton:hover{
  background: #995C1F;
}

.grid-content{
  padding: 0 1rem;
}
.actionSheetContainer{
  background: #004876
}
.menuIcon{
  color: #004876;
}
.menuIcon:hover{
  color: #CC7A29;
}
.assignmentsInfoIcon{
  top: 1.5rem;
  right: 6.5rem;
  position: absolute;
  color: #004876;
  opacity: .75;
  transition-property: color;
  transition-duration: .5s;
  transition-timing: ease-out;
}
.assignmentsInfoIcon:hover{
  color: #CC7A29;
}
.assignmentSearchIcon{
  float: right;
  margin-top: .5rem; 
  color: #004876;
  opacity: .75;
  transition-property: color;
  transition-duration: .5s;
  transition-timing: ease-out;
}
.assignmentSearchIcon:hover{
  color: #CC7A29;
}
.accordion-title{
  background: #004876;
  opacity: .75;
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 150%;
}
.titleAccordion{
  display: none;
}
.handoutsAccordion{
  background: #FFF;
  opacity: .75;
}
.resourcesAccordion{
  background: #FFF;
  opacity: .75;
}
.reminderBox h4{
  font-size: 30px;
}
.reminder{
  width: 200px;
  font-size: 20px;
  font-family: 'Shadows Into Light', cursive;
}
.canvasExitButton{
  font-size: 70px;
}
#assignmentInfoPopup{
  background: #004876;
  opacity: .85;
  color: #FFFFFF;
}
#assignmentInfoPopup p{
  font-size: 30px; 
  text-align: center;
}
.notesHeader{
  font-size: 20px;
  color: #FFFFFF;
  opacity: .7;
  border: solid;
}
.notesHeader:hover{
  opacity: .98;
}
.notesAccordian{
  width: 500px;
  margin: 0px auto;
}


