---
name: assignments
url: /homework
animationIn: fadeIn
animationOut: slideOutLeft
controller: HomeworkCtrl
---
  <div class="grid-block wrap">
    
    <div class="grid-block small-12 medium-6 large-4" ng-repeat="assignment in assignments" ng-if="containsSubject(assignment)">
      <div class="card homeworkCard">
        <div class="card-section ">
          <h4>{{assignment.title}}</h4>
          <a ng-show="assignment.location" class="download" href="{{assignment.location}}"><i class="fa fa-download homeworkDownloadIcon"></i></a>
          <p>{{assignment.dueDate}}</p>
          <p>{{assignment.contents}}</p>
          <a zf-open="homeworkModal{{$index}}" class="button">Open modal</a>
          <div class="grid-content homeworkLabels">
          <span class="label homeworkLabel"  ng-repeat="subject in assignment.subjects" ng-click="setSubject(subject)">{{subject}}</span>
          </div>
        </div>
      </div>
      <div zf-modal="" id="homeworkModal{{$index}}">
        <a zf-close="" class="close-button">×</a>
        <h3>Back in my days...</h3>
        <p>{{assignment.contents}}</p>
      </div>
    </div>
  </div>
