---
name: home
url: /
---

<div class="grid-content">
    <div class="homeContent">
        <h2><b>Welcome!</b></h2> 

     <p class="lead">I'm so glad you're here. I'm Mrs. Mellum, and this is our classroom website! I encourage you to click around and explore&#9786;. </p>
     <h3><b>About Mrs. Mellum</b></h3>
     <p>My name is Mrs. Mellum, and I'm a 7th grade teacher at STREAM Charter School located in Oroville, CA. I'm originally from Chico, CA and I graduated from Chico State. I am the youngest of three (with two older brothers). I'm also fortunate to have three energetic nephews and one beautiful niece. </p>
     <div zf-action-sheet="">
      <div zf-as-button="" title="Things Mrs. Mellum likes"></div>
      <div zf-as-content="" position="bottom">
      <p></p>
      <ul>
     <li><a zf-open="whatKrissyLikes" class="button">Random</a></li>
      <li><a href="#">Thing 2</a></li>
      <li><a href="#">Thing 3</a></li>
      <li><a zf-open="whatYouLike" class="button">Tell Mrs. Mellum what you like!</a></li>
      </ul>
      </div>
      </div>
     <div zf-action-sheet="">
      <div zf-as-button="" title="Things Mrs. Mellum doesn't like"></div>
      <div zf-as-content="" position="bottom">
      <p></p>
      <ul>
      <li><a href="#">Thing 1</a></li>
      <li><a href="#">Thing 2</a></li>
      <li><a href="#">Thing 3</a></li>
      <li><a zf-open="whatYouDontLike" class="button">Tell Mrs. Mellum what you don't like!</a></li>
      </ul>
      </div>
    </div>

    <h3><b>A word about the website</b></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h2><b>Thats it! I'm looking foward to an awesome year!!!</b></h2>
    <blockquote class="aboutQuote"><q>Those who mind don't matter and those who matter don't mind</q></blockquote><h3> -Dr. Suess</h3>
    </div>
</div>


<div zf-modal="" class="aboutPopup" id="whatKrissyLikes">
      <a zf-close="whatKrissyLikes" class="close-button">×</a>
      <h3>Cats</h3>
      <progress style="color: blue;" value="65" max="100"></progress>
      <h3>Dogs</h3>
      <progress value="95" max="100"></progress>
      <h3>Scary Movies</h3>
      <progress class="medium" value="75" max="100"></progress>
      <h3>Scrambled Eggs</h3>
      <progress class="medium" value="15" max="100"></progress>
      </div>

<div zf-modal="" id="whatYouDontLike">
      <a zf-close="whatYouDontLike" class="close-button">×</a>
      <h3>Back in my days...</h3>
      <p>There were 3 Star Wars movies and Disney only made cartoons.</p>
      </div>

