---
name: home
url: /
---

<div class="grid-content">

    <div class="homeContent">
        <h2><b>Welcome!</b></h2>
        <p class="lead">I'm so glad you're here. I'm Mrs. Mellum, and this is our classroom website! I encourage you to click around and explore&#9786;. </p>
     <h3><b>About Mrs. Mellum</b></h3>
     <p>I'm a 7th grade teacher at STREAM Charter School located in Oroville, CA. I'm originally from Chico, CA where I graduated from Chico State with my bachelor's in psychology in May 2013. Soon after graduating I decided I wanted to pursue a career in education. I went back to Chico State where I graduated with my credential and master's in education. I've always loved learning, and I love teaching because I  get to share my passion for learning with my students.</p><p>I am the youngest of three (with two older brothers). I'm also have three energetic nephews and one beautiful niece. When I'm not teaching, I love being outside! Whether it's hiking in Upper Park, or taking a trip to the flumes in Paradise, I enjoy being active and going on new adventures. I don't have any kids, but I do have the cutest dog in the entire world. I also have a pretty cool husband who teaches me new things, like how to design this website &#9786;</p>
    
 

    <h3><b>A word about the website</b></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h2><b>Thats it! I'm looking foward to an awesome year!!!</b></h2>
    <blockquote class="aboutQuote"><q>Those who mind don't matter and those who matter don't mind<br>-Dr. Suess</q></blockquote>
    </div>
</div>


