---
name: assignments
url: /homework
animationIn: fadeIn
animationOut: slideOutLeft
controller: HomeworkCtrl
---
  

  <div class="grid-container pageHeader" style="margin: 1rem;">
  <zf-offcanvas id="assignmentInfoPopup" class="canvasExitButton" position="left">
  <a zf-close="assignmentInfoPopup" class="assignmentInfoCloseButton close-button">×</a>
    <div class="offCanvasTitle">   
      <h3> Icon Legend</h3>
    </div>
    <div class="offCanvasContent">
      <div class="infoDescription">
        <i class="legend fa fa-info-circle"></i>
        <p>Information</p>
      </div> 
      <div class="carrotDescription">
        <i class="legend carrot fa fa-angle-double-right"></i>
        <p>View More</p>
      </div>
      <div class="downloadDescription"> 
        <i class="legend fa fa-download"></i>
        <p>Download</p>
      </div>
      <div class="handoutsDescription">
        <i class="legend fa fa-file-text"></i>
        <p>Handout</p>
     </div>
      <div class="searchDescription">
        <i class="legend fa fa-search"></i>
        <p>Search</p>
      </div>  
      <div class="playDescription">
        <i class="legend fa fa-youtube-play"></i>
        <p>Play Video</p>
       </div>
         <div class="pencilDescription">
        <i class="legend fa fa-pencil"></i>
        <p>Lesson Notes</p>
       </div>  
    </div>  
  </zf-offcanvas>
    <i class="fa fa-search assignmentSearchIcon fa-lg"></i>
    <i class="fa fa-info-circle assignmentsInfoIcon fa-lg" zf-toggle="assignmentInfoPopup" size="large"></i>
    <h2 zf-close="assignmentInfoPopup"><span>Assignments: Currently viewing {{subjects.slice(0,subjects.length-1).join(", ")}}</span><span ng-if="subjects.length>1"> and</span><span> {{subjects[subjects.length-1]}} assignments.</span></h2>
  <div class="grid-block wrap">
    <div class="grid-block small-12 medium-6 large-4" ng-repeat="assignment in assignments" ng-if="containsSubject(assignment)">
      <div class="card homeworkCard">
        <div class="card-section assignmentContent">
          <h3>{{assignment.title}}</h3><h4>{{assignment.dueDate}}</h4>
          <a ng-show="assignment.location" class="download" target="_self" ng-href="{{assignment.location}}"><i class="downloadIconA fa fa-angle-double-right homeworkDownloadButton"></i></a>
          <p>{{assignment.contents}}</p>
          <div class="grid-content homeworkLabels">
          <span class="label homeworkLabel warning" ng-repeat="subject in assignment.subjects" ng-click="setSubject(subject)"><b>{{subject}}</b></span>
          </div>
        </div>
      </div>
      <div zf-modal="" id="homeworkModal{{$index}}">
        <a zf-toggle="homeworkModal{{$index}}" class="close-button">×</a>
        <h3>Back in my days...</h3>
        <p>{{assignment.contents}}</p>
      </div>
    </div>
  </div>
  </div>
