---
name: news
url: /news
animationIn: fadeIn
animationOut: slideOutLeft
controller: NewsCtrl
---
	<div class="grid-block">
		<div class="grid-content">
      <div class="newsButtonsContainer">
        <button ng-disabled="currentPage >= news.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="pageButtons">Next</button>
        <span class="newsPageDetails">{{currentPage+1}}/{{numberOfPages()}}</span>

        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="pageButtons">Previous</button>
      </div>
      <div style="margin-top: .5rem;">
  			<div class="card newsCard" ng-repeat="announcement in news | startFrom:currentPage*pageSize | limitTo:pageSize">
          <div class="card-divider newsTitleHeader">
            <div class="newsTitle">
             {{announcement.title}}
            </div>
          </div>
          <div class="card-section cardSection">
            <h4>{{announcement.date}}</h4> 
              <p>{{announcement.content}}</p>         
          </div>
        </div>
      </div> 
	 </div>
  </div>
