---
name: news
url: /news
animationIn: fadeIn
animationOut: slideOutLeft
---
	<div class="grid-block">
		<div class="grid-content">
			<h2>Create a New Foundation Project</h2>

			<p class="lead">Select a user or group to start chatting with. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor.</p>
		</div>
	</div>
