---
name: notes
url: /notes
animationIn: slideInUp
animationOut: slideOutLeft
controller: NotesCtrl

---
<div class="grid-content">
	<div class="grid-container notesPage">
		<div class="grid-block small-12 notes-header">
			<div ng-repeat="tab in tabs" ng-click="setWeek($index)" class="notes-tab">
				Week {{$index+1}}
			</div>
		</div>
		<div class="grid-block small-12 notesBox">
  		<div class="grid-content" ng-repeat="week in weeks" ng-if="currentWeek==$index">
				<section class="block-list notes-container">
					<ul class="notes-list">
					<li ng-repeat="content in week.notes" class="notes-item">
		  		<a zf-toggle="basicModalNotes{{$index}}" class="notes-link-title">{{content.notesLinkTitle}}</a>
					<div zf-modal="" id="basicModalNotes{{$index}}" class="notes-modal">
			    	<a zf-close="basicModalNotes{{$parent.$index}}" class="close-button modalCloseButton">×</a>
			    	<div class="modalContent">
			      	<!--<h4>Subject: {{content.subject}}
							 <br>Unit: {{content.unit}}
								<br>#: {{content.number}}
								<br>-->
							</h4>
			      	<img ng-src="{{content.img}}" class="lessonImage1">
			      	<h3>{{content.title}}</h3>
			      		<div ng-repeat="icon in content.icons">
				      		<div ng-repeat="link in icon.links">
		          			<br ng-if="content.title2.index == $parent.$index+1">
		          			<h3 ng-if="content.title2.index == $parent.$index+1">{{content.title2.title}}</h3>
		          			<br ng-if="content.title3.index == $parent.$index+1">
		          			<h3 ng-if="content.title3.index == $parent.$index+1">{{content.title3.title}}</h3>
				          	<ul class="subListNotesIconList">
				            	<li>
				            		<h4>
					            		<a class="presentationLink" href="{{link.href}}" target="_blank">
					            			<i class="laptopIcon noteIcon activityIcon fa {{icon.class}}"></i>
					            			{{link.title}}
					            		</a>
				            		</h4>
			            		</li>
				          	</ul>
			          	</div>
			      		</div>
			      	<p ng-repeat="paragraph in content.paragraphs">{{paragraph.content}}</p>
		    	</div>
			  	</div>
					</li>
					</ul>
				</section><br>
			</div>
		</div>
	</div>
</div>
