---
name: notes
url: /notes
animationIn: slideInUp
animationOut: slideOutLeft

---
<div class="grid-content">
	<div class="grid-block ">
	<i class="fa fa-info-circle notesInfoIcon fa-lg" zf-toggle="notesInfoPopup" size="large"></i>

  <div  class="grid-container pageHeader" style="margin: 1rem;">
  <zf-offcanvas id="notesInfoPopup" class="canvasExitButton" position="bottom">
  <a zf-close="notesInfoPopup" class="notesInfoclose-button">×</a>
  <p>This is the assignments page; here you will find all the information about upcoming assignments. You can search for assignments by name, or you can filter assignments by subject.  Some assignments may also have a download icon in the upper right corner. This means there is additional content that you will need in order to complete the assignment. You may download the additional content by clicking on the download icon. As always, please do not hesitate to contact me if you have any questions.</p>
  </zf-offcanvas>
		<div class="grid-content pageHeader">
			<div zf-tabs="">
				<div zf-tab="" title="Week 1" class="notesHeader">
					<zf-accordion auto-open="false" collapsible="true" multi-open="true">	
				  <zf-accordion-item title="Notes" class="notesAccordion">
				  	<a class="download notesDownloadButton" href="{{notes.location}}">
				  		<i class="downloadIconN fa fa-pencil notesDownloadButton"></i></a>
							<p>Welcome to the First Day of School!</p>
				 		 <a class="download notesDownloadButton" href="{{notes.location}}">
				 	 		<i class="downloadIconN fa fa-pencil notesDownloadButton"></i></a>
							<p>The Fall of the Roman Empire</p>
						<a class="download notesDownloadButton" href="{{notes.location}}">
							<i class="downloadIconN fa fa-pencil notesDownloadButton"></i></a>
							<p>Solving for 2 Unkonwn Variables</p>
					</zf-accordion-item>
					<zf-accordion-item title="Handouts" class="notesAccordion">
					  <i class="downloadIconH fa fa-file-text"></i>
						<p>More to come.</p>
					</zf-accordion-item>
					<zf-accordion-item title="Resources" class="notesAccordion">
						<a target="_blank" href="https://www.youtube.com/watch?v=oPf27gAup9U/"><i class="downloadIconN screencastIcon fa fa-youtube-play"></i></a>
						<p>Crash Course on Roman History</p>
				</zf-accordion-item>
			</div>
			<div zf-tab="" title="Week 2" class="notesHeader">
 				<zf-accordion auto-open="false" collapsible="true">	
				  <zf-accordion-item title="Notes" class="notesAccordion">
							<p>More to come.</p>
					</zf-accordion-item>
						<zf-accordion-item title="Handouts" class="notesAccordion">
							<p>More to come.</p>
					</zf-accordion-item>
						<zf-accordion-item title="Resources" class="notesAccordion">
							<p>More to come..</p>
					</zf-accordion-item>				</div>
				<div zf-tab="" title="Week 3" class="notesHeader">
				<zf-accordion auto-open="false" collapsible="true">	
				  <zf-accordion-item title="Notes" class="notesAccordion">
							<p>More to come.</p>
					</zf-accordion-item>
						<zf-accordion-item title="Handouts" class="notesAccordion">
							<p>More to come.</p>
					</zf-accordion-item>
						<zf-accordion-item title="Resources" class="notesAccordion">
							<p>More to come.</p>
					</zf-accordion-item>
				</div>
			</div>
 		</div>
	</div>
</div>
