---
name: quizzes
url: /quizzes
animationIn: slideInUp
animationOut: slideOutLeft
---
<div class="grid-container pageHeader" style="height: 500px;">
  <h2>Quizzes</h2>
  <form>
    <div class="small-12 medium-6 grid-content">
<label>What year was Mrs. Mellum born?</label>
<input id="checkbox1" type="checkbox"><label for="checkbox1">1997</label>
<input id="checkbox2" type="checkbox"><label for="checkbox2">1800</label>
<input id="checkbox2" type="checkbox"><label for="checkbox2">1986</label>
<input id="checkbox2" type="checkbox"><label for="checkbox2">None of the above.</label>


</div>
</div>
</form>
</div>
