---
name: quizzes
url: /quizzes
animationIn: slideInUp
animationOut: slideOutLeft
---
<div class="grid-container pageHeader quizTabContainer" style="height: 500px;">
  <div zf-tabs="">
    <div zf-tab="" title="Week 1" class="quiz-tab">
    <div class="quizContent">
      <div class="welcomeImage">
        <img src="http://www.personal.psu.edu/users/s/j/sjk5503/SiriApa%20Kotsri/welcom.png">
          <h1><b>Tuesday, 8/18/15</b></h1>
          <h1>Here you will find links to  assigned quizzes. Read about quiz details below.</h1>
      </div><br>
      <p> 1) The majority of quizzes will be taken during class time.<br>2) Quizzes will primarily consist of short answer (with some occassional multiple choice) questions.<br>3) Students will know about quizzes in advance (i.e., no pop quizzes &#9786;).<br>4) Quizzes account for 15% students' grade in each core subject.<br>5) Short answer questions will be graded using THIS RUBRIC.</p>
      <p>Please take a moment to complete the introductory quiz below. The questions are fairly basic, and give me a chance to get to know a little bit about you.</p>
     <a href="http://goo.gl/forms/FWpXKYQuHW" target="_blank" class="quizLink"><img src="http://convention.thearc.org/image/lightbulb-icon.png" target="_blank" class="quizLink"><span class="quiz-link-text">Getting To Know You</span></a>
    </div>
    </div>

    <div zf-tab="" title="Week 2" class="quiz-tab">
      Tab content 2
    </div>

    <div zf-tab="" title="Week 4" class="quiz-tab">
     Tab content 3
    </div>

    <div zf-tab="" title="Week 5" class="quiz-tab">
     Tab content 3
    </div>
  </div>
</div>
